* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.textArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textArea span {
    background: linear-gradient(116.79deg, #DB2777 -10.97%, #F97316 114.58%);
    background-clip: text;
    color: transparent; 
}

.textArea h1 {
    margin-bottom: 20px;
}

.textArea p {
    text-align: center;
    width: 70%;
}

.animationMainDiv {
    position: relative;
    width: 300px; 
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.iPhone {
    position: relative; 
    z-index: 2; 
    height: 576px;
    margin-top: 77px; 
    margin-left: 69px;
}

.outerCircle {
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(
        126.89deg,
        rgba(219, 39, 119, 0.12) -67.19%,
        rgba(249, 115, 22, 0.12) 203.32%
    );
    border-radius: 50%;
    animation: fade 2s infinite;
    z-index: 0;

}

.innerCircle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(
        126.89deg,
        rgba(219, 39, 119, 0.3) -67.19%,
        rgba(249, 115, 22, 0.3) 203.32%
    ); 
    border-radius: 50%;
    z-index: 1; 
    animation: fadeInner 2s infinite;
    top: 12%;
    left: 13%;
    transform: translate(50%, 50%);
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes fadeInner {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}



.leftIcon,
.rightIcon,
.topLeftIcon,
.topRightIcon {
    position: absolute;
    width: 55px; 
    height: 55px;
    background-color: #262626;
    border-radius: 50%;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.leftIcon{
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);

}

.leftIcon:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
    filter: brightness(1.2);
}

.rightIcon{
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);
}

.rightIcon:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
    filter: brightness(1.2);
}

.iconWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px; 
    height: 70px;
    border: 5px solid #262626; 
    background-color: transparent; 
    border-radius: 50%;
    z-index: 1;
}


.leftIconWrapper {
    left: -110px;
    bottom: 110px;
}


.rightIconWrapper {
    right: -110px;
    bottom: 148px;
}


.topLeftIconWrapper {
    left: -110px;
    top: 110px;
}

.topRightIconWrapper {
    right: -110px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.iconText1 {
    height: 100px;
    width: 200px; 
    display: block;
    z-index: 3;
    position: absolute;
    left:-246px;
    margin-top: -125px;
    text-align: end;
    
}

.iconTexth3 {
    font-size: 16px; 
    font-weight: bold;
    color: #ffffff; 
    margin: 0; 
    display: block; 
    line-height: 1.5; 
}

.iconTextp {
    font-size: 14px;
    color: #ffffff; 
    margin: 5px 0 0; 
    display: block; 
    line-height: 1.4; 
}

.iconText2 {
    height: 100px;
    width: 200px; 
    display: block;
    z-index: 3;
    position: absolute;
    left: -140px;
    top: 387px;
    text-align: end;
    
}

.iconText3 {
    height: 100px;
    width: 200px; 
    display: block;
    z-index: 3;
    position: absolute;
    left: 0px;
    margin-top: 200px;
    text-align: start;
    
}

.iconText4 {
    height: 100px;
    width: 210px; 
    display: block;
    z-index: 3;
    position: absolute;
    left: 0px;
    margin-top: 200px;
    text-align: start;
}
