/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #323030;
    width: 100vw;
    height: 74px;
    padding: 13px 72px 13px 72px;
    overflow-x: hidden;
    overflow-y: hidden;

/* opacity: 0px; */

}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img{
    margin-right: 10px;
}

.logo h1 {
    background: linear-gradient(116.79deg, #DB2777 -10.97%, #F97316 114.58%);
    background-clip: text;
    color: transparent; 
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }
  

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation h2 {
    padding: 0px 10px 0px 10px;
    color: #ffffff;
    font-weight: 100;
}

.signup {
    display: flex;
    align-items: center;
}

.signup button {
    width: 192px;
    height: 48px;
    border: 1.5px solid #ed2f1dd6;
    border-radius: 40px;
    background-color: transparent;
    color:#ffffff;
}


