* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background-color: #181717;
    color: #ffffff;
    font-family: 'lato';
}

.upperHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.firstLine {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.firstLine h1 {
    display: flex;
    align-items: center;
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: none;
    animation: typing 4s steps(40, end) infinite, fadeIn 0.5s ease-in-out; 
    font-size: 2rem;
    color: #ffffff;
    margin-top: 9px;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0; 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.secondLine {
    margin-bottom: 50px;

}

.secondLine span {
    background: linear-gradient(116.79deg, #DB2777 -10.97%, #F97316 114.58%);
    -webkit-background-clip: text;
    color: transparent;
}

.thirdLine {
    margin-bottom: 50px;
}

.bothButton {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.downloadButton {
    width: 189px;
    height: 61px;
    background: linear-gradient(126.89deg, #DB2777 -67.19%, #F97316 203.32%);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.icon {
    color: #ffffff;
    display: flex;
    top : 5px;
    height: 40px;
    width: 50px;
    margin-right: 5px;
}

.downloadButton {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}

.rightHalf {
    position: relative;
    width: 300px; 
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14vw;
}

.iPhone {
    position: relative; 
    z-index: 2; 
    height: 576px;
    margin-top: 77px; 
    margin-left: 65px;
}

.rightHalf {
    cursor: grab;
}

.rightHalf:hover .outerCircle {
    animation: fade 3s infinite;
}

.rightHalf:hover .innerCircle {
    animation: fadeInner 3s infinite;
}

.outerCircle {
    position: absolute;
    width: 340px;
    height: 340px;
    background: linear-gradient(
        126.89deg,
        rgba(219, 39, 119, 0.12) -67.19%,
        rgba(249, 115, 22, 0.12) 203.32%
    );
    border-radius: 50%;
    /* animation: fade 3s infinite; */
    z-index: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.innerCircle {
    position: absolute;
    width: 270px;
    height: 270px;
    background: linear-gradient(
        126.89deg,
        rgba(219, 39, 119, 0.3) -67.19%,
        rgba(249, 115, 22, 0.3) 203.32%
    ); 
    border-radius: 50%;
    z-index: 1;
    top: 10%;
    left: 10%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@keyframes fade {
    0% {
        transform: scale(0.8); 
        opacity: 0.6; 
    }
    50% {
        transform: scale(1.2); 
        opacity: 1; 
    }
    100% {
        transform: scale(0.8);
        opacity: 0.6; 
    }
}

.lowerHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vw 12vw;
}

.lowerHalf h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}

.lowerHalf p {
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;

}

.lowerHalf button {
    width: 168px;
    height: 48px;
    background: linear-gradient(126.89deg, #DB2777 -67.19%, #F97316 203.32%);
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    color: #ffffff;
}